body {
  background-image: url(https://images.unsplash.com/photo-1598257006756-51088d8c1126?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 190px 180px;
  background: rgba(136, 140, 136, 0.3)
}
button{
  color: white;
  background-color:#8FBDD3 ;
  border: none;
  border-radius: 20px 15px;
  padding: 30px;
  font-size: 25px;
  cursor: pointer;
}
.btn{
  margin-top: 40px;
}
h1, h2{
  color: white;
}
p{
  color:#00303F;
  font-size: 40px;
}
